# Global catch-all
* @lockwobr @mskalka @ayuskauskas @riceriley59

# Package directories
kdump/             @lockwobr @mskalka @ayuskauskas @riceriley59
nvidia-setup/      @lockwobr @mskalka @ayuskauskas @riceriley59
nvidia-tuned/      @lockwobr @mskalka @ayuskauskas @riceriley59
nvidia-tuning-gke/ @lockwobr @mskalka @ayuskauskas @riceriley59
tuned/             @lockwobr @mskalka @ayuskauskas @riceriley59
tuning/            @lockwobr @mskalka @ayuskauskas @riceriley59
shellscript/       @lockwobr @mskalka @ayuskauskas @riceriley59
installer/         @lockwobr @mskalka @ayuskauskas @riceriley59

# Build/ops
.github/           @lockwobr @mskalka @ayuskauskas @riceriley59
scripts/           @lockwobr @mskalka @ayuskauskas @riceriley59
makefile           @lockwobr @mskalka @ayuskauskas @riceriley59

# Tests
tests/             @lockwobr @mskalka @ayuskauskas @riceriley59
