# Global catch-all
* @lockwobr @mskalka @ayuskauskas @rice-riley

# Package directories
kdump/             @lockwobr @mskalka @ayuskauskas @rice-riley
nvidia-setup/      @lockwobr @mskalka @ayuskauskas @rice-riley
nvidia-tuned/      @lockwobr @mskalka @ayuskauskas @rice-riley
nvidia-tuning-gke/ @lockwobr @mskalka @ayuskauskas @rice-riley
tuned/             @lockwobr @mskalka @ayuskauskas @rice-riley
tuning/            @lockwobr @mskalka @ayuskauskas @rice-riley
shellscript/       @lockwobr @mskalka @ayuskauskas @rice-riley
installer/         @lockwobr @mskalka @ayuskauskas @rice-riley

# Build/ops
.github/           @lockwobr @mskalka @ayuskauskas @rice-riley
scripts/           @lockwobr @mskalka @ayuskauskas @rice-riley
makefile           @lockwobr @mskalka @ayuskauskas @rice-riley

# Tests
tests/             @lockwobr @mskalka @ayuskauskas @rice-riley
